/*@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');*/
*{
    margin: 0;
    padding: 0;
}
body{
background-color: #2d3040;
}
#logotipo{
    display: flex;
}

#logotipo p{
    text-align: left;
    color: white;
    font-size: 100;
    @font-face {
        src:url('ABSTER.ttf');
        font-family: ABSTER;
    }
    
}

#logotipo img{
    margin-left: 50px;
    width: 200;
}

ul{
    position:relative;
    text-align: right;
    margin-right: 100px;
}
ul li {
    display: inline-block;
}
#cabecalho{
    margin: 0;
    padding: 0;
    background: #212837;
    display: flex;
    align-items: center;
}

#menu{
    width: 100%;
    padding: 4px;
}

ul li a{
    text-decoration: none;
    color:white;
    padding: 15px;
    display: block;
}

ul li:hover{
    background: #499ada;
}

ul ul{
    position: absolute;
    min-width: 111px;
    display: none;
    background: lightgray;
    text-align: left;
}

ul ul li{
    display: block;
    background: #212837;
}

ul li:hover ul{
    display: block;
}

#banner{
    display:flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background: url('/imgs/bg-banner2.jpg')no-repeat;
    background-size: 100%;
}

.btns{
    margin-top: 40px;
    text-align: center;
}
.btns button{
    margin-bottom: 50px;
    display: inline;
    border: none;
    outline: none;
    font-size: 17px;
    background: #499ada;
    border-radius: 6px;
    padding: 14px 14px;
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease;
}

.btns button:hover{
    background: #212837;
}

#breve{
    background: #212837;
    color:white;
    padding: 30px;
   
}

#breve p{
    text-align: center;
   font-size: large; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#campeonatos{
    padding: 20px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.cartao{
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
    width: 330px;
    border-radius: 16px;
}

.cartao img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
            /* c.esq c.dir b.esq b.dir  */
}

.cartao .conteudo{
    padding: 20px;
    background-color: white;
}

.cartao .conteudo p{
    font-size: 14px;
    color: #666;
    margin-top: 12px;
    margin-bottom: 20px;

}

.cartao .conteudo h4{
    margin-bottom: 12px;
    background-color: rgba(75,0,130,0.1);
    width: 120px;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    border-radius: 30px;
    color: #4B0082;
    cursor: pointer;

}

footer{
    background-color: #212837;
    padding: 10px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

#card{
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    text-align: left;
    border-radius: 16px;
}
#social{
    margin-bottom: 1px;
    padding: 50px;
    background: #212837;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#social p{
    font-size: large;
}

#social button{
    margin-top: 25px;
    padding: 50px;
    margin-bottom: 50px;
    display: inline;
    border: none;
    outline: none;
    font-size: 17px;
    background: #499ada;
    border-radius: 6px;
    padding: 14px 14px;
    cursor: pointer;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease;  
}
/* Área da pag campeonatos*/
